// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task_table	{
	tbody {
		td.items {
			visibility: hidden;
			display: none;
		}
		tr:hover {
			color: red;
			background-color: blue;
		}
		tr.f_row {
			background-color: white;
		} 
		tr.s_row {
			background-color: silver;
		}
		tr:hover td.items {
			display: table-cell;
			visibility: visible;
			background-color: white;
		}
	}
	thead {
		th .asc {
			padding-right: 12px;
			background-repeat: no-repeat;
			background-position: right center;
			background-image: url(arrowupani.gif);
		}
		th .desc {
			padding-right: 12px;
			background-repeat: no-repeat;
			background-position: right center;
			background-image: url(arrowdownani.gif);
		}
	}
}
